/* ?INDEX */
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* !------------Tipografia--------------*/
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* !------------HEADER--------------*/

header nav ul li :hover {
    background-color: rgba(153, 47, 47, 0.74);
    border-radius: 10px;

}

.bg-menu {
    background-color: #fae8c9;
}


header {
    height: 100px;
    padding: 15px;
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fae8c9;
}


header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 5px;
    border-radius: 10px;
}

header a {
    text-decoration: none;
    color: black;
}


/* !----------HERO SECTION---------------*/
.hero {
    height: 750px;
    font-weight: bold;
    text-align: center;
    background-image: url("../img/perroygatogris.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    color: black;
    font-size: 80px;
    margin-bottom: 300px;

}

.hero p {
    color: black;
    font-size: 25px;
}

.hero a {
    font-size: 40px;
    background-color: #fae8c99d;
    color: black;
    padding: 20px;
    margin-top: 20px;
    border-radius: 7px;
    text-decoration: none;
}

/* !-------------METODOS DE PAGO Y ACLARACIONES------------*/
.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
    margin: 30px;
}

.info div {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 15px;
}

.info div h2 {
    color: brown;
    font-size: 25px;
}

.info div img {
    width: 50px;
}

.info div p {
    font-size: 18px;
}

/* !---------PRODUCTOS DESTACADOS---------------*/
.destacados h2 {
    color: white;
    background-color: black;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

.destacados h3 {
    color: brown;
}

.destacados .contenedor-productos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.destacados .contenedor-productos div {
    border: 2px solid grey;
    width: 250px;
    height: 350px;
    text-align: center;
    margin: 40px;
    -webkit-box-shadow: 17px 10px 35px -19px rgba(0,0,0,0.8);
-moz-box-shadow: 17px 10px 35px -19px rgba(0,0,0,0.8);
box-shadow: 17px 10px 35px -19px rgba(0,0,0,0.8);
transition: 1s;
}

.contenedor-productos div:hover {
    scale: 1.1;
}


.destacados div img {
    width: 200px;
}

.destacados div h3 {
    font-size: 20px;
    margin: 15px;
}

/* !----------------COLOR DE LOS BOTONES--------------*/
.boton {
    background-color: #fae8c9;
    color: black;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
}

.boton-principal {
    background-color: #fae8c9;
    color: black;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    transition: 1s;
}

.boton-principal:hover {
    scale: 1.2;
}


/* !----------FOOTER---------------*/

.footer {
    background-color: #fae8c9; 
    padding: 20px 0; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    max-width: 100%; 
    margin: 0 auto; 
    bottom: 0; 
}


.logo-footer {
    height: 60px; 
    width: auto; 
    margin-left: 55px; 
}


.redes {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly; 
    margin-right: 20px; 
}


.redes a img {
    height: 40px; 
    width: 40px;
    transition: 1s; 
}

.redes a img:hover {
    transform: scale(1.5); 
}



/*! ----------- MEDIA QUERIES ------------------- */

@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
    }

    header nav ul {
        width: 100%;
        justify-content: space-around; 
    }

    .hero {
        height: 500px;
        background-attachment: scroll;
    }

    .hero h1 {
        font-size: 35px;
    }

    .hero p {
        font-size: 18px;
    }

    .hero a {
        font-size: 25px;
    }

    .info {
        grid-template-columns: 1fr;
    }

    .destacados .contenedor-productos {
        flex-direction: column;
        align-items: center;
    }

    .destacados .contenedor-productos div {
        width: 90%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    header {
        flex-direction: row;
    }

    header nav ul {
        flex-direction: row;
    }

    .info {
        grid-template-columns: 1fr 1fr;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero p {
        font-size: 20px;
    }

    .hero a {
        font-size: 30px;
    }

    .destacados .contenedor-productos {
        justify-content: space-between;
    }
}


@media (min-width: 1025px) {
    .info {
        grid-template-columns: repeat(3, 1fr);
    }

    .destacados .contenedor-productos {
        justify-content: space-around;
    }
}

 /* ?CONTACTO */

.titulo {
    text-align: center;
    font-size: 50px;
    color: #fae8c9c7;
    background-color: rgb(0, 0, 0);
    margin-bottom: 50px;
    margin-top: 20px;
}

.contacto {
    display: flex;
    gap: 2em;
    padding: 2em;
    width: 100%; 

}

.otros-medios {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; 
    background-color: #f2f2f2; 
    padding: 30px;
    border-radius: 8px;
    width: 50%; 

}

.otros-medios h2 {
    text-align: center;
    font-size: 40px;
    color: brown;
    margin-bottom: 15px;
    padding: 15px;
    width: 100%; 
    }


.otros-medios div {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-bottom: 25px;
}

.otros-medios img {
    width: 40px; 
    height: auto;
    display: block; 
}

.otros-medios p {
    margin: 0; 
    font-size: 20px; 
    color: black;
}

.cuestionario {
    background-color: #f2f2f2; 
    padding: 20px;
    border-radius: 8px;
    width: 50%; 
}

.cuestionario h2 {
    text-align: center;
    margin-bottom: 15px;
    color: brown;
    font-size: 40px;
    padding: 15px;
}

.cuestionario div {
    margin-bottom: 15px;
}

.cuestionario label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
}

.cuestionario input[type="text"],
.cuestionario input[type="email"],
.cuestionario input[type="number"],
.cuestionario textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px; 
}

.cuestionario input[type="submit"],
.cuestionario input[type="reset"] {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #fae8c9;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.cuestionario input[type="submit"]:hover,
.cuestionario input[type="reset"]:hover {
    background-color: brown;
    transform: scale(1.05); 
}

/*! ----------- MEDIA QUERIES ------------------- */




/* ?NOSOTROS */

.nosotros h1 {
    color: #fae8c9c7;
    background-color: black;
    font-size: 50px;
    margin-top: 20px;
}


.nosotros h2,h3,h4 {
    color: brown;
    font-size: 40px;
    margin-bottom: 25px; 
}

.nosotros div img {
    width: 650px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}

.nosotros h1 {
    text-align: center;
    font-size: 50px;
    color: #fae8c9c7;
    background-color: rgb(0, 0, 0);
    margin-bottom: 50px;
    margin-top: 20px;
}
.contenedor {
    display: flex;
    align-items: center; 
    gap: 30px; 
    margin-bottom: 120px; 
}

.texto-1, .texto-2, .texto-3 {
    flex: 1;
}

.nosotros p {
    max-width: 700px;
    font-size: 20px;
}

.img-1,.img-3 {
    margin-right: 100px;
}

.img-2 {
    margin-left: 100px;
}

.texto-1,.texto-2,.texto-3 {
    margin-left: 160px;
}

/*! ----------- MEDIA QUERIES ------------------- */

@media (min-width: 1200px) {
    .contenedor {
        display: flex;
        align-items: center; 
        gap: 30px;
        margin-bottom: 100px; 
    }

    .nosotros h1 {
        font-size: 50px;
    }

    .nosotros p {
        font-size: 20px;
    }

    .img-1, .img-2, .img-3 {
        width: 650px;
        height: 450px;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .contenedor {
        flex-direction: column; 
        align-items: center;
        margin-bottom: 50px; 
        gap: 20px; 
    }

    .texto-1, .texto-2, .texto-3 {
        margin-left: 0; 
        text-align: center; 
    }

    .img-1, .img-2, .img-3 {
        width: 100%; 
        height: auto;
        margin: 0; 
    }

    .nosotros h2, h3, h4 {
        font-size: 35px; 
    }

    .nosotros p {
        font-size: 18px; 
    }
}


@media (max-width: 767px) {
    .contenedor {
        flex-direction: column; 
        margin-bottom: 30px;
        gap: 10px; 
        padding: 0 10px; 
    }

    .nosotros h1 {
        font-size: 30px; 
    }

    .nosotros h2, h3, h4 {
        font-size: 25px; 
    }

    .nosotros p {
        font-size: 16px; 
    }

    .img-1, .img-2, .img-3 {
        width: 100%; 
        height: auto;
        margin: 0; 
    }
}

                               /* ?PRODUCTOS */
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.productos {
    text-align: center;
    margin-top: 20px;
}

.productos h1 {
    color: #fae8c9c7;
    background-color: rgb(0, 0, 0);
    font-size: 50px;
    margin-top: 20px;
}

.grid-galeria {
    width: 90%;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    position: relative;
    height: 250px;
    transition: 1s;
    margin: 15px;
}

.grid-item:hover {
    scale: 1.1;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: 17px 10px 35px -19px rgba(0, 0, 0, 0.8);
}

.grid-item h3 {
    position: absolute;
    bottom: 0;
    background-color: #fae8c9ad;
    color: black;
    width: 100%;
    padding: 5px;
    text-align: center;
}



/*! Media Queries */

@media (max-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header nav ul {
        flex-direction: row;
        width: auto;
        justify-content: space-around;
    }

    header a img {
        height: 60px;
    }

    .grid-galeria {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .grid-item {
        height: 200px;
    }

    .productos h1 {
        font-size: 28px;
    }

    .productos p {
        font-size: 18px;
    }

    .footer h2 {
        font-size: 30px;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .grid-galeria {
        grid-template-columns: 1fr 1fr;
    }

    .grid-item {
        height: 250px;
    }

    .productos h1 {
        font-size: 32px;
    }

    .productos p {
        font-size: 20px;
    }

    .footer h2 {
        font-size: 32px;
    }
}


@media (min-width: 1025px) {
    .grid-galeria {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-item {
        height: 300px;
    }
}


/* ?Servicios */

.servicios h1 {
    text-align: center;
    font-size: 50px;
    color: #fae8c9c7;
    background-color: rgb(0, 0, 0);
    margin-bottom: 50px;
    margin-top: 20px;
}

.servicios div h2 {
    color: brown;
    margin-bottom: 30px;
}

.mapa{
    margin-left: 160px;
}


.mapa {
    margin-right: 100px;
    margin-top: 40px;
}

.texto-1{
    flex: 1;
}



/*! Media Queries */

@media (min-width: 1200px) {
    .servicios h1 {
        font-size: 50px;
    }

    .servicios div h2 {
        font-size: 35px;
    }

    .servicios div p {
        font-size: 20px;
        max-width: 800px; 
        margin: 0 auto; 
    }

    .mapa iframe {
        width: 800px;
        height: 600px;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .servicios h1 {
        font-size: 40px; 
    }

    .servicios div h2 {
        font-size: 30px; 
        text-align: center; 
    }

    .servicios div p {
        font-size: 18px; 
        padding: 0 20px; 
        text-align: justify; 
    }

    .mapa iframe {
        width: 100%; 
        height: 450px; 
    }
}


@media (max-width: 767px) {
    .servicios h1 {
        font-size: 30px; 
    }

    .servicios div h2 {
        font-size: 25px; 
        text-align: center; 
        margin-left: 10px;
    }

    .servicios div p {
        font-size: 16px; 
        padding: 0 15px; 
        text-align: justify;
    }

    .mapa iframe {
        width: 100%; 
        height: 300px; 
    }
}