@import "./base/sass";
@import "./base/generales";
@import "./components/header";
@import "./components/main";
@import "./components/footer";
@import "./base/queries";


/*! ----------- CONTACTO ------------------- */
.titulo {
    @extend %titulo
}

.contacto {
    display: flex;
    gap: 2em;
    padding: 2em;
    width: 100%; 
    .otros-medios {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px; 
        background-color: #f2f2f2; 
        padding: 30px;
        border-radius: 8px;
        width: 50%; 
        h2 {
            @extend %contacto-rd-md-titulos;
            text-align: center;
            padding: 15px;
            width: 100%; 
        }

        div {
            display: flex;
            align-items: center;
            gap: 10px; 
            margin-bottom: 25px;
            img {
                width: 40px; 
                height: auto;
                display: block; 
            }
            p {
                margin: 0; 
                font-size: 20px; 
                color: $color-terciario;
            }
        }

        div {
            
            img {
                width: 40px; 
                height: auto;
                display: block; 
            }
            p {
                margin: 0; 
                font-size: 20px; 
                color: $color-terciario;
            }
        }

        div {
            
            img {
                width: 40px; 
                height: auto;
                display: block; 
            }
            p {
                margin: 0; 
                font-size: 20px; 
                color: $color-terciario;
            }
        }
    }

    .cuestionario {
        background-color: #f2f2f2; 
        padding: 20px;
        border-radius: 8px;
        width: 50%; 
        h2 {
            @extend %contacto-rd-md-titulos;
            text-align: center;
            padding: 15px;
        }

        form {
            
            div {
                margin-bottom: 15px;
                label {
                    display: block;
                    margin-bottom: 10px;
                    font-weight: bold;
                    color:$color-terciario;
                }
    
                input[type="text"] {
                    width: 100%;
                    padding: 12px; 
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    font-size: 16px; 
                }
            }
    
            div {
    
                label {
                    display: block;
                    margin-bottom: 10px;
                    font-weight: bold;
                    color: $color-terciario;
                }
    
                input[type="email"] {
                    width: 100%;
                    padding: 12px; 
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    font-size: 16px;  
                }
            }
    
            div {
    
                label {
                    display: block;
                    margin-bottom: 10px;
                    font-weight: bold;
                    color:$color-terciario;
                }
    
                input[type="number"] {
                    width: 100%;
                    padding: 12px; 
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    font-size: 16px;  
                }
            }
    
            div {
    
                label {
                    display: block;
                    margin-bottom: 10px;
                    font-weight: bold;
                    color: $color-terciario;
                }
            }

            input[type="submit"] {
                padding: 10px 15px;
                border: none;
                border-radius: 4px;
                background-color: $color-principal;
                color: $color-terciario;
                font-weight: bold;
                cursor: pointer;
                margin-right: 10px;
                transition: background-color 0.3s ease, transform 0.2s ease; 
                &:hover {
                    background-color:$color-secundario;
                    transform: scale(1.05); 
                }
            }

            input[type="reset"] {
                padding: 10px 15px;
                border: none;
                border-radius: 4px;
                background-color:$color-principal;
                color: $color-terciario;
                font-weight: bold;
                cursor: pointer;
                margin-right: 10px;
                transition: background-color 0.3s ease, transform 0.2s ease; 
                &:hover {
                    background-color: $color-secundario;
                    transform: scale(1.05); 
                }
            }
        }

        


    }
}

/*! ----------- NOSOTROS ------------------- */

.nostros {
    h1 {
        @extend %titulo

    }

    .contenedor {
        display: flex;
        align-items: center; 
        gap: 30px; 
        margin-bottom: 120px; 
        .texto-1 {
            flex: 1;
            margin-left: 160px;
            h2 {
                color: $color-secundario;
                font-size: 40px;
                margin-bottom: 25px; 
            }

            p {
                max-width: 700px;
                font-size: 20px;
            }
        }
    }

    .img-1 {
        margin-right: 100px;
        img {
            width: 650px;
            height: 450px;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    .contenedor {
        display: flex;
        align-items: center; 
        gap: 30px; 
        margin-bottom: 120px; 
        .img-2 {
            margin-left: 100px;
            width: 650px;
            height: 450px;
            object-fit: cover;
            border-radius: 10px;
        }

        .texto-2 {
            flex: 1;
            margin-left: 160px;
            h3 {
                color: $color-secundario;
                font-size: 40px;
                margin-bottom: 25px; 
            }

            p {
                max-width: 700px;
                font-size: 20px;
            }
        }
    }

    .contenedor {
        display: flex;
        align-items: center; 
        gap: 30px; 
        margin-bottom: 120px; 
        .texto-3 {
            flex: 1;
            margin-left: 160px;
            h4 {
                color: $color-secundario;
                font-size: 40px;
                margin-bottom: 25px; 
            }

            p {
                max-width: 700px;
                font-size: 20px;
            }
        }
    }

    .img-3 {
        margin-right: 100px;
        width: 650px;
        height: 450px;
        object-fit: cover;
        border-radius: 10px;
    }
}

/*! ----------- PRODUCTOS------------------- */

a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prodcutos {
    text-align: center;
    margin-top: 20px;
    h1 {
        @extend %titulo
    }

    .grid-galeria {
        width: 90%;
        margin: 80px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        .grid-item {
            position: relative;
            height: 200px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                box-shadow: 17px 10px 35px -19px rgba(0, 0, 0, 0.8);
            }

            h3 {
                position: absolute;
                bottom: 0;
                background-color:$color-principal;
                color: color-terciario;
                width: 100%;
                padding: 5px;
                text-align: center;
            }
        }
    }
}


/*! ----------- SERVICIOS------------------- */

.servicios {
    h1 {
        @extend %titulo
    }

    .contenedor {

        .texto-1 {
            flex: 1;
            h2 {
                color: $color-secundario;
                margin-bottom: 30px;
            }

        }
    }

    .mapa {
        iframe {
            margin-left: 160px;
            margin-right: 100px;
            margin-top: 40px;
        }
    }
}