/* !------------ MEDIAQUERIES MAIN--------------*/
@media (min-width: 1200px) {
    .hero h1 {
        font-size: 80px;
        margin-bottom: 300px;
    }
    .hero a {
        font-size: 40px;
    }

    .info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .destacados .contenedor-productos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 1024px) {
    .hero h1 {
        font-size: 60px;
        margin-bottom: 150px;
    }
    .hero a {
        font-size: 30px;
    }

    .info {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .destacados .contenedor-productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 40px;
        margin-bottom: 100px;
    }
    .hero a {
        font-size: 24px;
    }

    .info, .destacados .contenedor-productos {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}
/* !------------ MEDIAQUERIES CONTACTO--------------*/

@media (min-width: 1200px) {
    .titulo {
        font-size: 60px;
    }

    .contacto {
        gap: 3em;
        padding: 3em;
    }

    .otros-medios,
    .cuestionario {
        width: 45%; 
    }

    .otros-medios h2,
    .cuestionario h2 {
        font-size: 45px;
    }
}

@media (max-width: 1024px) {
    .contacto {
        flex-direction: column; 
    }

    .otros-medios,
    .cuestionario {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .titulo {
        font-size: 35px; 
        margin-bottom: 20px;
    }

    .contacto {
        flex-direction: column; 
    }

    .otros-medios h2,
    .cuestionario h2 {
        font-size: 30px;
    }

    .otros-medios,
    .cuestionario {
        width: 100%; 
    }

    .otros-medios img,
    .cuestionario label {
        font-size: 18px;
    }
}

/* !------------MEDIAQUERIES NOSOTROS--------------*/

@media (min-width: 1200px) {
    .nosotros h1 {
        font-size: 60px;
    }
    .nosotros p {
        font-size: 22px;
    }
}


@media (max-width: 1199px) and (min-width: 768px) {
    .contenedor {
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
    }
    .nosotros div img {
        display: none; 
    }
    .img-1, .img-2, .img-3 {
        margin: 0;
    }
    .texto-1, .texto-2, .texto-3 {
        margin: 0;
        text-align: center;
    }
    .nosotros h1 {
        font-size: 45px;
    }
    .nosotros h2, .nosotros h3, .nosotros h4 {
        font-size: 35px;
    }
    .nosotros p {
        font-size: 18px;
    }
}


@media (max-width: 767px) {
    .nosotros h1 {
        font-size: 36px;
        margin: 20px 0;
    }
    .nosotros h2, .nosotros h3, .nosotros h4 {
        font-size: 28px;
    }
    .nosotros p {
        font-size: 16px;
        max-width: 100%;
        padding: 0 20px;
    }
    .contenedor {
        margin-bottom: 50px;
    }

    .nosotros div img {
        display: none;
    }
}

/* !------------ MEDIAQUERIES PRODUCTOS--------------*/
@media (max-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header nav ul {
        flex-direction: row;
        width: auto;
        justify-content: space-around;
    }

    header a img {
        height: 60px;
    }

    .grid-galeria {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .grid-item {
        height: 200px;
    }

    .productos h1 {
        font-size: 28px;
    }

    .productos p {
        font-size: 18px;
    }

    .footer h2 {
        font-size: 30px;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .grid-galeria {
        grid-template-columns: 1fr 1fr;
    }

    .grid-item {
        height: 250px;
    }

    .productos h1 {
        font-size: 32px;
    }

    .productos p {
        font-size: 20px;
    }

    .footer h2 {
        font-size: 32px;
    }
}


@media (min-width: 1025px) {
    .grid-galeria {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-item {
        height: 300px;
    }
}

/* !------------ MEDIAQUERIES SERVICIOS--------------*/
@media (min-width: 1200px) {
    .servicios h1 {
        font-size: 50px;
    }

    .servicios div h2 {
        font-size: 35px;
    }

    .servicios div p {
        font-size: 20px;
        max-width: 800px; 
        margin: 0 auto; 
    }

    .mapa iframe {
        width: 800px;
        height: 600px;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .servicios h1 {
        font-size: 40px; 
    }

    .servicios div h2 {
        font-size: 30px; 
        text-align: center; 
        margin-left: 10px;
    }

    .servicios div p {
        font-size: 18px; 
        padding: 0 20px; 
        text-align: justify; 
    }

    .mapa iframe {
        width: 100%; 
        height: 450px; 
    }
}


@media (max-width: 767px) {
    .servicios h1 {
        font-size: 30px; 
    }

    .servicios div h2 {
        font-size: 25px; 
        text-align: center; 
    }

    .servicios div p {
        font-size: 16px; 
        padding: 0 15px; 
        text-align: justify;
    }

    .mapa iframe {
        width: 100%; 
        height: 300px; 
    }
}